body,
html {
  accent-color: var(--color-1);
  background-color: var(--color-1);
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.roullete {
  background: white;
  border-radius: 50%;
  height: 440px;
  position: relative;
  width: 440px;
}

.fill {
  border-radius: 50%;
  clip: rect(0px, 440px, 440px, 220px);
  height: 440px;
  left: 0;
  position: absolute;
  top: 0;
  width: 440px;
}

.fill::after {
  border-radius: 50%;
  clip: rect(0px, 220px, 270px, 0px);
  content: "";
  height: 440px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(var(--angle-1));
  width: 440px;
}

.fill_1 {
  transform: rotate(var(0deg));
}
.fill_2 {
  transform: rotate(var(--angle-1));
}
.fill_3 {
  transform: rotate(var(--angle-2));
}
.fill_4 {
  transform: rotate(var(--angle-3));
}
.fill_5 {
  transform: rotate(var(--angle-4));
}
.fill_6 {
  transform: rotate(var(--angle-5));
}
.fill_7 {
  transform: rotate(var(--angle-6));
}
.fill_8 {
  transform: rotate(var(--angle-7));
}
.fill_9 {
  transform: rotate(var(--angle-8));
}
.fill_10 {
  transform: rotate(var(--angle-9));
}
.fill_11 {
  transform: rotate(var(--angle-10));
}
.fill_12 {
  transform: rotate(var(--angle-11));
}
.fill_13 {
  transform: rotate(var(--angle-12));
}
.fill_14 {
  transform: rotate(var(--angle-13));
}

.fill_1::after {
  background: var(--color-1);
}
.fill_2::after {
  background: var(--color-2);
}
.fill_3::after {
  background: var(--color-3);
}
.fill_4::after {
  background: var(--color-4);
}
.fill_5::after {
  background: var(--color-5);
}
.fill_6::after {
  background: var(--color-6);
}
.fill_7::after {
  background: var(--color-7);
}
.fill_8::after {
  background: var(--color-1);
}
.fill_9::after {
  background: var(--color-2);
}
.fill_10::after {
  background: var(--color-3);
}
.fill_11::after {
  background: var(--color-4);
}
.fill_12::after {
  background: var(--color-5);
}
.fill_13::after {
  background: var(--color-6);
}
.fill_14::after {
  background: var(--color-7);
}

.content {
  height: 390px;
  padding-top: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 40;
}

.content_1 {
  transform: rotate(calc(var(--angle-1) - 16deg));
}
.content_2 {
  transform: rotate(calc(var(--angle-2) - 16deg));
}
.content_3 {
  transform: rotate(calc(var(--angle-3) - 16deg));
}
.content_4 {
  transform: rotate(calc(var(--angle-4) - 16deg));
}
.content_5 {
  transform: rotate(calc(var(--angle-5) - 16deg));
}
.content_6 {
  transform: rotate(calc(var(--angle-6) - 16deg));
}
.content_7 {
  transform: rotate(calc(var(--angle-7) - 16deg));
}
.content_8 {
  transform: rotate(calc(var(--angle-8) - 16deg));
}
.content_9 {
  transform: rotate(calc(var(--angle-9) - 16deg));
}
.content_10 {
  transform: rotate(calc(var(--angle-10) - 16deg));
}
.content_11 {
  transform: rotate(calc(var(--angle-11) - 16deg));
}
.content_12 {
  transform: rotate(calc(var(--angle-12) - 16deg));
}
.content_13 {
  transform: rotate(calc(var(--angle-13) - 16deg));
}
.content_14 {
  transform: rotate(calc(var(--angle-14) - 16deg));
}
.content_15 {
  transform: rotate(calc(var(--angle-15) - 16deg));
}

.roullete.loop {
  animation: rotation 8s ease-out forwards;
}

@keyframes rotation {
  from {
    transform: rotate(16deg);
  }
  to {
    transform: rotate(calc(360deg * 10 - var(--position)));
  }
}
