.modal-container {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  width: 100vw;
  z-index: 3000;
}

.modal-container .modal {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: #233462;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 80px;
  justify-content: center;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 280px;
}

.modal-container .modal .face-win {
  align-items: center;
  background-color: #233462;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  left: calc(50% - 40px);
  position: absolute;
  top: -54px;
  width: 80px;
}

/* .agotado {
  color: rgb(229, 50, 50) !important;
}

.agotado .face-win {
  background-color: rgb(229, 50, 50) !important;
} */

.hide {
  display: none;
}

.fade-in {
  animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.block {
  display: block;
}

.text-xl {
  font-size: 1.2rem;
  font-weight: 700;
}

.text-sm {
  font-size: 0.9rem;
}
