:root {
  --angle-1: 25.71428571428571deg;
  --angle-2: calc(var(--angle-1) * 2);
  --angle-3: calc(var(--angle-1) * 3);
  --angle-4: calc(var(--angle-1) * 4);
  --angle-5: calc(var(--angle-1) * 5);
  --angle-6: calc(var(--angle-1) * 6);
  --angle-7: calc(var(--angle-1) * 7);
  --angle-8: calc(var(--angle-1) * 8);
  --angle-9: calc(var(--angle-1) * 9);
  --angle-10: calc(var(--angle-1) * 10);
  --angle-11: calc(var(--angle-1) * 11);
  --angle-12: calc(var(--angle-1) * 12);
  --angle-13: calc(var(--angle-1) * 13);
  --angle-14: 360deg;

  --laps: 1;
  --position: calc((var(--laps) * var(--angle-1)) - 16deg);

  --color-1: #000;
  --color-2: #d9d9d9;
  --color-3: #96a7e3;
  --color-4: #ffffff;
  --color-5: #bacdea;
  --color-6: #ffffff;
  --color-7: #96a7e3;
  --color-8: #ffffff;
}
